@font-face {
  font-family: 'boomerang_typeregular';
  src: url('../fonts/boomerang_3.0-webfont.eot');
  src: url('../fonts/boomerang_3.0-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/boomerang_3.0-webfont.woff') format('woff'), url('../fonts/boomerang_3.0-webfont.ttf') format('truetype'), url('../fonts/boomerang_3.0-webfont.svg#boomerang_typeregular') format('svg');
  font-weight: 400;
  font-style: normal
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block
}
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1
}
audio:not([controls]) {
  display: none
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100% overflow: hidden;
}
a:hover, a:active {
  outline: 0
}
sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline
}
sup {
  top: -.5em
}
sub {
  bottom: -.25em
}
img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic
}
#map_canvas img, .google-maps img {
  max-width: none
}
button, input, select, textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle
}
button, input {
  *overflow: visible;
  line-height: normal
}
button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer
}
label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
  cursor: pointer
}
input[type="search"] {
  -webkit-appearance: textfield
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none
}
textarea {
  overflow: auto;
  vertical-align: top
}
@media print {
  * {
    text-shadow: none!important;
    color: #000!important;
    background: transparent!important;
    box-shadow: none!important
  }
  a, a:visited {
    text-decoration: underline
  }
  a[href]:after {
    content: " (" attr(href) ")"
  }
  abbr[title]:after {
    content: " (" attr(title) ")"
  }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid
  }
  thead {
    display: table-header-group
  }
  tr, img {
    page-break-inside: avoid
  }
  img {
    max-width: 100%!important
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3
  }
  h2, h3 {
    page-break-after: avoid
  }
}
body {
  margin: 0;
  padding: 0;
  color: #ffecd6;
  background-color: #e2e9a1;
  font-family: 'boomerang_typeregular', sans-serif;
  font-weight: 300
}
.box {
  width: 1095px;
  margin: 0 auto;
  position: relative
}
.clearfix {
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both
}
html[xmlns] .clearfix {
  display: block
}
* html .clearfix {
  height: 1%
}
a {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}
a, a:hover, a:active, a:focus {
  outline: 0
}
img {
  max-width: 100%;
  max-height: 100%!important;
  height: auto!important
}
*, :before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}
body {
  height: 100vh;
  width: 100%;
  position: relative
}
#main {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  position: relative;
  display: block;
  background: url(../images/bg_main.jpg) 0 0 no-repeat #e2e9a1;
  transform: scale(0.666667, 0.6666667);
  transform-origin: 0 0;
}
#main header {
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  background: url(../images/bg_header.png) 0 0 no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  height: 190px;
  width: 100%;
  z-index: 1000
}

#main #game_finished, #main #game_counter {
  padding-top: 20%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100000;
  display: none;
}

#main #game_finished_text, #main #game_counter_text{
  text-align: center;
  top: 50%;
  font-size: 60px;
  color: orange;
}


#main header .instruments .instrument01 {
  position: absolute;
  left: 60px;
  top: 0;
  height: 310px;
  width: 240px
}
#main header .instruments .instrument01 strong {
  margin: 10px 0 0;
  display: block;
  background: url(../images/icon_instrument01.png) 0 0 no-repeat;
  width: 100%;
  height: 109px
}
#main header .instruments .instrument01 span {
  display: block;
  background: url(../images/icon_kitchen_01.png) top center no-repeat;
  width: 100%;
  height: 175px;
  position: absolute;
  bottom: 0;
  left: 0
}
#main header .instruments .instrument02 {
  position: absolute;
  left: 360px;
  top: 0;
  height: 310px;
  width: 179px
}
#main header .instruments .instrument02 strong {
  margin: 15px 0 0;
  display: block;
  background: url(../images/icon_instrument02.png) 0 0 no-repeat;
  width: 100%;
  height: 95px
}
#main header .instruments .instrument02 span {
  display: block;
  background: url(../images/icon_kitchen_02.png) top center no-repeat;
  width: 100%;
  height: 175px;
  position: absolute;
  bottom: 0;
  left: 0
}
#main header .instruments .instrument03 {
  position: absolute;
  left: 600px;
  top: 0;
  height: 310px;
  width: 225px
}
#main header .instruments .instrument03 strong {
  margin: 12px 0 0;
  display: block;
  background: url(../images/icon_instrument03.png) 0 0 no-repeat;
  width: 100%;
  height: 107px
}
#main header .instruments .instrument03 span {
  display: block;
  background: url(../images/icon_kitchen_03.png) top center no-repeat;
  width: 100%;
  height: 175px;
  position: absolute;
  bottom: 0;
  left: 0
}
#main header .instruments .instrument04 {
  position: absolute;
  left: 885px;
  top: 0;
  height: 310px;
  width: 250px
}
#main header .instruments .instrument04 strong {
  margin: 27px 0 0;
  display: block;
  background: url(../images/icon_instrument04.png) 0 0 no-repeat;
  width: 100%;
  height: 80px
}
#main header .instruments .instrument04 span {
  display: block;
  background: url(../images/icon_kitchen_04.png) top center no-repeat;
  width: 100%;
  height: 175px;
  position: absolute;
  bottom: 0;
  left: 0
}
#main header .instruments .active strong, #main header .instruments a:hover strong {
  background-position: bottom left!important
}
#main header .songs {
  position: absolute;
  height: 285px;
  width: 715px;
  right: 0;
  top: 0;
  background: url(../images/blackboard.png) bottom left no-repeat
}
#main header .songs .song {
  text-decoration: none
}
#main header .songs span {
  display: block;
  background: url(../images/icon_kitchen_05.png) top center no-repeat;
  width: 119px;
  height: 75px;
  margin: 35px 0 0
}
#main header .songs .song_text {
  background: url(../images/arrows.png) no-repeat;
  margin: 45px 55px 0;
  line-height: 50px;
}
#main header .songs .song_text h1 {
  padding: 0 0 0 60px;
  margin: 0;
  color: #d5da1e;
  font-size: 20px;
  font-weight: 400
}
#main header .songs .song_text h2 {
  padding: 0 0 0 60px;
  margin: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 400
}

#main #gamePlayContainer{
  width: 100%;
  position: absolute;
}

#main #song {
  position: relative;
  top: 50px;
  margin: 340px 0 0;
  height: 802px;
}

#threashold {
  position: absolute;
  bottom: 250px;
  width: 100%;
  height: 180px;
  margin-top: 300px;
  background-color: yellow;
  opacity: 0.4;
  color: #000;
  font-size: 30px;
}

#threashold .col-note{
  float: left;
  width: 14%;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 50px;
}

#main #song .col-DO {
  left: 0%;
}
#main #song .col-RE {
  left: 14%;
}
#main #song .col-MI {
  left: 28%;
}
#main #song .col-FA {
  left: 42%;
}
#main #song .col-SOL {
  left: 56%;
}
#main #song .col-LA {
  left: 70%;
}
#main #song .col-SI {
  left: 84%;
}

#main #song .note {
  width: 14%;
  height: 220px;
  position: absolute;
}
.animated-fruit {
  display: none;
  -webkit-animation-timing-function: linear;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
@-webkit-keyframes moveit {
  0% {
    transform: translateY(-350px);
  }
  100% {
    transform: translateY(450px);
  }
}



#main #song .apple {
  /*background-color: red!important*/
}
#main #song .apple span {
  background: url(../images/icon_apple.png)
}
#main #song .green_apple {
  /*background-color: #aae148!important*/
}
#main #song .green_apple span {
  background: url(../images/icon_green_apple.png)
}
#main #song .orange {
  /*background-color: #f60!important*/
}
#main #song .orange span {
  background: url(../images/icon_orange.png)
}
#main #song .carrot {
  /*background-color: #d4541a!important*/
}
#main #song .carrot span {
  background: url(../images/icon_carrot.png)
}
#main #song .pear {
  /*background-color: #d5da1e!important*/
}
#main #song .pear span {
  background: url(../images/icon_pear.png)
}
#main #song .eggplant {
  /*background-color: #6f2549!important*/
}
#main #song .eggplant span {
  background: url(../images/icon_bere.png)
}
#main #song .zucchini {
  /*background-color: #0e9523!important*/
}
#main #song .zucchini span {
  background: url(../images/icon_zapa.png)
}
#main #song .peach {
  /*background-color: #f4ac2e!important*/
}
#main #song .peach span {
  background: url(../images/icon_peach.png)
}
#main #song .lemon {
  /*background-color: #ffcd00!important*/
}
#main #song .lemon span {
  background: url(../images/icon_lemon.png)
}
#main #song .zapallito {
  /*background-color: #067706!important*/
}
#main #song .zapallito span {
  background: url(../images/icon_zapa2.png)
}
#main #song .note span {
  width: 100%;
  height: 155px;
  display: block;
  background-repeat: no-repeat;
  background-position: bottom center
}
#main #song .note p {
  color: #333;
  padding: 0 0 0;
  margin: 0;
  /*text-transform: uppercase;*/
  text-align: center;
  /*text-shadow: 2px 2px 10px rgba(50, 50, 50, .5);*/
}


#main footer {
  z-index: 1000;
  background: url(../images/bg_footer.png) bottom left no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 183px;
  width: 100%
}
#main footer .logo {
  -webkit-animation-duration: 6s;
  -moz-animation-duration: 6s;
  position: absolute;
  bottom: -150px;
  left: 50%;
  width: 340px;
  height: 343px;
  margin: 0 0 0 -170px;
  background: url(../images/bg_logo.png) top center no-repeat
}
#main footer .logo span {
  display: block;
  width: 100%;
  height: 119px;
  background: url(../images/logo.png) center no-repeat;
  margin: 60px 0 0
}
#main footer .messaje {
  margin: 100px 0 0 230px;
  padding: 0 40px;
  height: 60px;
  width: 560px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #3f0000;
  float: left;
  color: #ffecd6;
  font-size: 24px;
  line-height: 60px;
  text-transform: uppercase
}
#main footer .messaje .sub_score {
  float: right;
  line-height: 44px;
  padding: 8px 0;
  font-size: 12px
}
#main footer .messaje .sub_score span {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  height: 44px;
  width: 44px;
  text-align: center
}
#main footer .messaje .sub_score .worst {
  background-color: red
}
#main footer .messaje .sub_score .bad {
  background-color: #ff7e00
}
#main footer .messaje .sub_score .normal {
  background-color: #ad9e21
}
#main footer .messaje .sub_score .good {
  background-color: #21ad7a
}
#main footer .messaje .sub_score .excellent {
  background-color: #3ca021
}
#main footer .score {
  margin: 100px 260px 0 0;
  height: 60px;
  width: 520px;
  float: right;
  line-height: 60px;
  text-transform: uppercase;
  color: #3f0000;
  background-color: #dfbe9f;
  font-size: 18px;
  padding-right: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px
}
#main footer .score .total {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #3f0000;
  padding: 0 40px;
  margin: 0 30px 0 0;
  display: inline-block;
  float: left;
  font-size: 24px;
  color: #ffecd6
}
#splash{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100000000;
  background: url(../images/splash.jpg) 0 0 no-repeat;
}
